@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}
/* Default Fonts */
.nav-font {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 28px;
}

.nav-tittle-font {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 20px;
    color: #0D1321;
}

.header-font {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 48px;
}

.description-font {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
}
.btn-font {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 20px;
    
}

.article-font {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 24px;
}

.article-tittle {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 32px;
}

/* Primary Colors */

.primary-color {
    color: #0D1321;
} 

.darker {
    color: #0D1321;
    font-weight: 800;
   
}

.dark {
    color: #0D1321;
    opacity: 70%;
}

.regular {
 
    color: #0D1321;
    font-weight: 400;
    font-size: 16px;
  
}

.white {
    color: #FFFFFF;
}
/* nav styles */
nav {
    background-color: white;
    padding: 20px;
    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav li> a {
    text-decoration: none;
    color: #0D1321;
}

.nav-button {
    background-color: white;
    border: solid 2px gray;
    border-radius: 5px;
    padding: 10px 24px 10px 17px;
    box-shadow: 0px 6px 50px 0px rgb(0, 0, 0, .06);


}

.nav-button:hover {
    cursor: pointer;
    background-color: rgb(242,242,242);
}

/* Hero Section styles */
.first-bg {
    background-image: url(../assets/Hero-bg-upscaled.webp);
    background-repeat: no-repeat;
    border: 1px solid white;
    background-size: 100% 100%;
    max-width: 100%;
    height: 642px;
    
}

.hero {
    text-align: center;
    margin-top: 25px;
    
}

.hero-btn {
    border: 2px solid #0D1321;
    padding: 10px 24px 10px 21px;
    background-color: #0D1321;
    

}

/* Article Styles here */
.article-bg {

    background-color: rgba(13, 19, 33, 0.048);
    min-width: 1140px;
    min-height: 1393px;
    
}

.article {
    padding: 74px 150px 90px;
}

.article-header {
    text-align: center;
    padding: 80px;
}

.article-description {
    margin-top: 24px;
}

.article-btn {
    background-color: white;
    border: solid 1.5px gray;
    border-radius: 1px;
    padding: 10px 24px 10px 17px;
    box-shadow: 0px 6px 50px 0px rgb(0, 0, 0, .06);
}


.zig-zag-bg1  {
    height: 336px;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(240, 240, 240, .002));
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    
}

.zig-zag-bg2  {
    height: 336px;
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgba(240, 240, 240, 0.002));
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    
}

.zig-zag-bg3  {
    height: 336px;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(240, 240, 240, 0.002));
    margin-top: 32px;
    display: flex;
    justify-content: space-between;

    
}


.zig-zag {
    padding: 48px 97px 80px;
    
    
    
}

.zig-zag-padding {
    padding: 58.5px 48px;
}


/* Video Styles here */

.video {


}

.video-header {
    text-align: center;
    padding: 20px;

}

iframe {
    border: 1px solid #0d132123;
    border-radius: 15px;
    padding: 20px;
    margin-top: 48px;
}

.article-btn:hover {
    cursor: not-allowed;
}
/* skills styles start here */

.skills-header {
    text-align: center;
}

.skills-description {
    text-align: center;
    margin-bottom: 45px;
}


.skills-container {
    display: flex;
    justify-content: center;
}

.html {
    background-color: #ff4b1e13;
    min-width: 364px;
    min-height: 299px;
    margin-right: 24px;
    padding: 40px;
}

.css {
    background-color: #004de815 ;
    min-width: 364px;
    min-height: 299px;
    padding: 40px;
}

.javascript {
    background-color: #ffdd001c ;
    min-width: 364px;
    min-height: 299px;
    margin-left: 24px;
    padding: 40px;
}


.skills-font{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 24px;
}

.learn-more-font {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 16px;
}

.learn-more {
    color: black;
}


/* Feedback section starts here */

.second-bg {
   width: 1380px;
   height: 313px;
   background-repeat: no-repeat;
   margin-left: 262px;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0.499), rgba(0, 0, 0, 0.499)), url(../assets/handshake.jpg);
   background-size: 100% 100%;
   border-radius: 15px;
   margin-top: 49px;
}
   
.feedback_tittle {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 32px;
}

.feedback-description {
    color: white;
    opacity: 70%;
}

.feedback-btn{
    background-color: white;
    border: solid 1.5px gray;
    border-radius: 10px;
    padding: 15px 15px;
    box-shadow: 0px 6px 50px 0px rgb(0, 0, 0, .06);

}

.feedback {
    text-align: center;
    padding: 64px;

}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    gap: 16px;
    
}


/* Footer Styles Starts Here */
/* nav styles */
footer {
    background-color: rgba(13, 19, 33, 0.048);
    padding: 32px;
    
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

footer li> a {
    text-decoration: none;
    color: #0D1321;
}

.social {
    display: flex;
    gap: 24px;
}



.feedback-btn:hover {
    cursor: not-allowed;
}
